<!DOCTYPE html>
<html lang="it">
<head>
    <!-- Meta tag essenziali -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titolo pagina admin -->
    <title>ital8cms - Amministrazione</title>

    <!-- Hook per CSS dei plugin (es. Bootstrap) -->
    <%- passData.pluginSys.hookPage("head", passData); %>

    <!-- CSS del tema admin -->
    <link rel="stylesheet" href="<%= passData.themeSys.getThemeResourceUrl('css/theme.css', passData) %>">
</head>
