<%- include( passData.themeSys.getThemePartPath( 'head.ejs' ) ) %>
<%- include( passData.themeSys.getThemePartPath( 'header.ejs' ) ) %>

<main>
  <h1><%- __({ it: "Benvenuto in ital8cms", en: "Welcome to ital8cms" }, passData.ctx) %></h1>
</main>

<%- include( passData.themeSys.getThemePartPath( 'footer.ejs' ) ) %>
