<%- include(`${passData.baseThemePath}/views/head`) %>
<%- include(`${passData.baseThemePath}/views/header`); %>

<div class="container">
  <div class="row">
    <div class="col">Prima, ma non ordinata</div>
    <div class="col order-2">Seconda, ma ultima</div>
    <div class="col order-1">Terza ma prima</div>
  </div>
</div>

<%- include(`${passData.baseThemePath}/views/footer`) %>