<%- include( passData.themeSys.getThemePartPath( 'head.ejs' ) ) %>
<%- include( passData.themeSys.getThemePartPath( 'header.ejs' ) ) %>

<div class="container">
  <div class="row">
    <div class="col">Prima, ma non ordinata</div>
    <div class="col order-2">Seconda, ma ultima</div>
    <div class="col order-1">Terza ma prima</div>
  </div>
</div>

<%- include( passData.themeSys.getThemePartPath( 'footer.ejs' ) ) %>