<aside class="submarine-sidebar" role="complementary">
    <div class="sidebar-container">
        <%# PLACEHOLDER name:sidebarWidget1 type:html editor:wysiwyg label:"Widget Sidebar 1 - Info Rapide" %>
        <%# /PLACEHOLDER %>

        <%# PLACEHOLDER name:sidebarWidget2 type:html editor:wysiwyg label:"Widget Sidebar 2 - Contenuto Custom" %>
        <%# /PLACEHOLDER %>

        <%# PLACEHOLDER name:sidebarWidget3 type:html editor:simple label:"Widget Sidebar 3 - Link Utili" %>
        <%# /PLACEHOLDER %>
    </div>

    <%- passData.pluginSys.hookPage("aside", passData); %>
</aside>
