<nav class="submarine-nav" role="navigation" aria-label="Navigazione principale">
    
    <%# PLACEHOLDER name:mainNavigation type:html editor:simple label:"Menu Navigazione Principale" %>
    <%# /PLACEHOLDER %>

    <%- passData.pluginSys.hookPage("nav", passData); %>
</nav>
