<%- include( passData.themeSys.getThemePartPath( 'head.ejs' ) ) %>
<%- include( passData.themeSys.getThemePartPath( 'header.ejs' ) ) %>

<h1>benvenuto nell'area accessibile solo ai loggati</h1>

<%- include( passData.themeSys.getThemePartPath( 'footer.ejs' ) ) %>