<body class="submarine-theme">
    <%# EDITABLE name:headerContent type:html editor:simple label:"Contenuto Header" %>
    <div class="site-header">
        <h1>ital8cms</h1>
        <p>Contenuto header personalizzabile</p>
    </div>
    <%# /EDITABLE %>
    <%- passData.pluginSys.hookPage("header", passData); %>
    <div class="page-wrapper">
        <%- include('nav.ejs') %>
        <div class="content-wrapper">
            <%- include('main.ejs') %>
            <%- include('aside.ejs') %>
        </div>
    </div>
