<%- include( passData.themeSys.getThemePartPath( 'head.ejs' ) ) %>
<%- include( passData.themeSys.getThemePartPath( 'header.ejs' ) ) %>

<h1>pagina di admin ed adessio vediamo come fare</h1>

<%- include( passData.themeSys.getThemePartPath( 'footer.ejs' ) ) %>