<!-- TEMPLTE PER LA CREAZIONE DELLEE PAGINE DI AMMINISTRAZIONE  -->
<!-- ATTENZIONE  nelle pagine di admin sarà chiamata la funzone getAdminThemePartPath() e non la funzione getThemePartPath() -->
<%- include( passData.themeSys.getAdminThemePartPath( 'head.ejs' ) ) %>
<%- include( passData.themeSys.getAdminThemePartPath( 'header.ejs' ) ) %>

<h1>pagina di admin ed adessio vediamo come fare</h1>

<%- include( passData.themeSys.getAdminThemePartPath( 'footer.ejs' ) ) %>