


<footer role=”contentinfo”>

<%- passData.pluginSys.hookPage("footer", passData); %>
</footer>

<%- passData.pluginSys.hookPage("script", passData); %><!-- utile ad esempio per caricare i javascript -->
</body>
</html>