<!-- template da usare per creare le pagine seondo lo standard di questo tema  -->
<%- include( passData.themeSys.getThemePartPath( 'head.ejs' ) ) %>
<%- include( passData.themeSys.getThemePartPath( 'header.ejs' ) ) %>

<h1>Hello world</h1>

<%- include( passData.themeSys.getThemePartPath( 'footer.ejs' ) ) %>

